<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
  
        {% capture title %}{% if page.title %}{{ page.title | capitalize }}{% if page.tagline %} -- {{page.tagline| capitalize }}{% endif %} || {{site.title}}{% else %} {{site.title}}{% endif %}{% endcapture %}

        <title>{{ title | escape }}</title>
        <meta property="og:title" content="{{ title  | escape }}" />
        <meta property="twitter:title" content="{{ title | escape }}" />

        {% if page.image %}
          <meta property="og:image" content="{{ BASE_PATH }}{{ page.image }}" />
          <meta property="twitter:image" content="{{ BASE_PATH }}{{ page.image }}" />
        {% else %}
          {% if site.image %}
            <meta property="og:image" content="{{ BASE_PATH }}{{ site.image }}" />
            <meta property="twitter:image" content="{{ BASE_PATH }}{{ site.image }}" />
          {% endif %}
        {% endif %}

        {% if page.teaser and page.teaser != "" %}
          {% capture desc %}{{ page.teaser | markdownify }}{% endcapture %}
        {% else %}
          {% capture desc %}{{ site.description }}{% endcapture %}
        {% endif %}

        <meta name="description" content="{{ desc | escape }}">
        <meta property="og:description" content="{{ desc | escape }}"/>
        <meta property="twitter:description" content="{{ desc | escape }}"/>

        {% if page.authors %}
        {% assign author_id = page.authors[0] %}
      {% else %}
        {% if page.author %}
            {% assign author_id = page.author %}
        {% else %}
            {% assign author_id = site.default_author %}
        {% endif %}    
      {% endif %}

      {% assign author = site.authors[author_id] %}


        <meta name="author" content="{{ author.name }}">
        {% if author.gplus %}
          <link rel="author" href="https://plus.google.com/{{ author.gplus }}" />
        {% endif %}


        {% if site.publisher.gplus %}
          <link rel="publisher" href="https://plus.google.com/{{ site.publisher.gplus }}" />
        {% endif %}

        {% if site.fb_admins %}
          <meta property="fb:admins" content="{{ site.fb_admins }}" />
        {% endif %}

      <link href="{{ site.production_url }}/atom.xml" rel="alternate" title="{{ site.title }} Feed" type="application/atom+xml" />

      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!-- end CSS-->

        <link rel="stylesheet" href="http://www.hackership.org/css/normalize.min.css">        
        <link rel="favicon" href="http://www.hackership.org/favicon.ico"> 

        <!-- Custom CSS -->
        <link rel="stylesheet" href="http://www.hackership.org/css/normalize.min.css">
        <link rel="stylesheet" href="http://www.hackership.org/css/main.css">
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
      <div class="header-container">
            <header class="site-header clearfix" role="banner">
                <div class="site-logo">
                    <a href="/"><span class="hacker">Hacker</span><span class="ship">ship</span></a>
                </div>
                <nav class="site-nav">
                    <ul class="inline-block-list">
                        <li><a href="http://www.hackership.org/#about" data-ga-category="HS Site links" data-ga-action="Nav click" data-ga-label="About">About</a></li>
                        <li><a href="http://www.hackership.org/#questions" data-ga-category="HS Site links" data-ga-action="Nav click" data-ga-label="FAQ">FAQ</a></li>
                        <li><a href="http://www.hackership.org/#next-batch" data-ga-category="HS Site links" data-ga-action="Nav click" data-ga-label="Next Batch">Next Batch</a></li>
                        <li><a href="http://www.hackership.org/#apply" data-ga-category="HS Site links" data-ga-action="Nav click" data-ga-label="Apply">Apply</a></li>
                    </ul>
                </nav>
            </header><!-- end site-header -->
        </div>

        <div class="container main-container">
          <div class="site">
            {{ content }}
          </div>
        </div> <!-- /container -->


        
        <footer>
            <div class="third">
                <h3>Imprint</h3>
                <address>
                    OpenTechSchool e.V. <br />
                    c/o co.up  <br />
                    Adalbertstr. 8  <br />
                    10999 Berlin, Germany <br />
                </address>
            </div>
            <div class="third">
                <h3>Connect</h3>
                    <ul>
                        <li><a href="mailto:hackership |at| opentechschool |dot| org">Email</a></li>
                        <li><a href="https://www.facebook.com/hackership">Facebook</a></li>
                        <li><a href="https://www.twitter.com/hacker_ship">Twitter</a></li>
                        <li><a href="https://plus.google.com/114286322233180061886" rel="publisher">Google+</a></li>
                    </ul>
            </div>

            <br style="clear:both" />
                
        </footer>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="js/main.js?v=0"></script>
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-33344154-2', 'blog.hackership.org');
          ga('send', 'pageview');

        </script>

    </body>
</html>
