<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="http://www.hackership.org/favicon.ico" />

        {% capture title %}{% if page.title %}{{ page.title | capitalize }}{% if page.tagline %} -- {{page.tagline| capitalize }}{% endif %} || {{site.title}}{% else %} {{site.title}}{% endif %}{% endcapture %}

        <title>{{ title | escape }}</title>
        <meta property="og:title" content="{{ title  | escape }}" />
        <meta property="twitter:title" content="{{ title | escape }}" />

        {% if page.image %}
          <meta property="og:image" content="{{ BASE_PATH }}{{ page.image }}" />
          <meta property="twitter:image" content="{{ BASE_PATH }}{{ page.image }}" />
        {% else %}
          {% if site.image %}
            <meta property="og:image" content="{{ BASE_PATH }}{{ site.image }}" />
            <meta property="twitter:image" content="{{ BASE_PATH }}{{ site.image }}" />
          {% endif %}
        {% endif %}

        {% if page.teaser and page.teaser != "" %}
          {% capture desc %}{{ page.teaser | markdownify }}{% endcapture %}
        {% else %}
          {% capture desc %}{{ site.description }}{% endcapture %}
        {% endif %}

        <meta name="description" content="{{ desc | escape }}">
        <meta property="og:description" content="{{ desc | escape }}"/>
        <meta property="twitter:description" content="{{ desc | escape }}"/>

        {% if page.authors %}
        {% assign author_id = page.authors[0] %}
      {% else %}
        {% if page.author %}
            {% assign author_id = page.author %}
        {% else %}
            {% assign author_id = site.default_author %}
        {% endif %}    
      {% endif %}

      {% assign author = site.authors[author_id] %}


        <meta name="author" content="{{ author.name }}">
        {% if author.gplus %}
          <link rel="author" href="https://plus.google.com/{{ author.gplus }}" />
        {% endif %}


        {% if site.publisher.gplus %}
          <link rel="publisher" href="https://plus.google.com/{{ site.publisher.gplus }}" />
        {% endif %}

        {% if site.fb_admins %}
          <meta property="fb:admins" content="{{ site.fb_admins }}" />
        {% endif %}

      <link href="{{ site.production_url }}/atom.xml" rel="alternate" title="{{ site.title }} Feed" type="application/atom+xml" />

      <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <!-- end CSS-->

      
        <link rel="favicon" href="http://www.hackership.org/favicon.ico"> 

        <!-- Custom CSS -->
        <link rel="stylesheet" href="http://www.hackership.org/css/normalize.min.css">
        <link rel="stylesheet" href="http://www.hackership.org/css/main.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/materialize.css">
         <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">

         <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
         <link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="/js/bin/materialize.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>


    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
        <div class="navbar-fixed">
          <nav>
              <div class="nav-wrapper nav-hs row">
                  <div class="container">
                    <a href="#" data-activates="side-dev" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
                  <div class="brand-logo center">
                    <a href="http://www.hackership.org"><span class="green-text-hs">Hacker</span><span class="white-text">ship</span></a>
                    </div>
                  <div class="offset-m2">
                  <ul class=" right hide-on-med-and-down">

                      <li class="active"><a style="color:white" href="http://hackership.org/about/">Blog</a></li>
                      <li><a href="https://twitter.com/hacker_ship">Twitter</a></li>
                      <li><a href="http://www.hackership.org/about/#team">Team</a></li>
                      <li><a href="http://www.hackership.org/contact/">Contact</a></li>
                  </ul>
                  </div>
                  <ul id="side-dev" class="side-nav">

                      <li><a href="http://hackership.org/about/">About</a></li>
                      <li><a href="http://hackership.org/programme/">Programme</a></li>
                      <li><a href="http://hackership.org/questions/">FAQ</a></li>
                      <li><a href="http://hackership.org/community/">Community</a></li>
                      <li><a href="http://hackership.org/alumni/">Alumni</a></li>
                      <li><a href="http://hackership.org/apply/" style="background-color:#20a260" >Apply</a></li>
                  </ul>
              </div>
         </div>
      </nav>
    </div>
      <br /><br />

          <div class="site">
            {{ content }}
          </div>
        </div> <!-- /container -->


        
        <footer class="page-footer grey darken-3">
          <div class="container">
                    <div class = "row footer">
                        <div class= "col offset-m1 m5 s5">
                        <br />
                            <span style="padding-right:2vw;"><a href="https://www.facebook.com/hackership" class="grey-text text-lighten-4"><i class="fa fa-facebook-f fa-lg"></i> </a></span>
                            <span style="padding-right:2vw;padding-top:1vw;"><a href="https://www.twitter.com/hacker_ship" class="grey-text text-lighten-4"><i class="fa fa-twitter fa-lg"></i> </a></span>  
                            <span><a href="https://plus.google.com/114286322233180061886" class="grey-text text-lighten-4"><i class="fa fa-google-plus-square fa-lg"></i> </a></span>
                            <span style="padding-left:2vw;"><a href="http://blog.hackership.org/atom.xml" class=""grey-text text-lighten-4""><i class="fa fa-rss fa-lg"></i></a></span>
                        </div>
                        <div class= "col s6 m6 grey-text text-lighten-4">
                            <h5 class="white-text">Newsletter</h5>
                            <p>Stay up to date with Hackership</p>
                            <div class="row">
                                <form class="col s12" action="http://hackership.us7.list-manage1.com/subscribe/post?u=d893774e9260bf62c4533f5d1&amp;id=eec4326c27" method="post" id="mc-embedded-subscribe-form" style="background-color:white;color:black;">
                                    <div class="input-field col s12">
                                        <input id="email" type="email" name="EMAIL" placeholder="name@domain.com" value="" class="email" required>
                                    </div>
                                    <button class="btn waves-effect white-waves"type="submit" name="action" id="ss-submit">subscribe
                                        <i class="mdi-content-send right"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class = "footer-copyright grey darken-4">
                    <div class="container">
                        <span class="text-white">@ 2015 Copyright Hash Picker UG ||
                        Licenced by <a href="http://www.opentechschool.org">OpenTechSchool</a></span>
                    </div>
                </div>
        </footer>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
          <script>
              if(window.__call_laters && window.__call_laters.length) {
                $.each(window.__call_laters, function(idx, fun) {
                  $(fun);
                });
              }
            </script>
       
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-33344154-2', 'blog.hackership.org');
          ga('send', 'pageview');
        </script>
    </body>
</html>
